body {
font-family: arial, helvetica, sans-serif;

}

h1 {color: pink;
margin: 8px 0 4px 0;

}


main {
margin:20px auto;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;

}

p {margin-bottom: 12px;
font-family: sans-serif;
font-size: 1em
line-height:1.5;}

.info { flex-basis: 400px;
margin:0 10px;
}

.gallery { flex-basis: 300px
}
